node_modules/
.expo/
dist/
web-build/

# native build output
*.apk
*.aab
*.ipa
*.dSYM.zip
*.dSYM
ios/
android/

# env / secrets
.env
.env.local
.env.*.local

# macOS / editor noise
.DS_Store
*.log
npm-debug.*
yarn-debug.*
yarn-error.*
.idea/
.vscode/

# TypeScript
expo-env.d.ts
